.container {
  position: relative;
  width: 100%;
  align-items: end;
  padding: 1rem;
}

.player {
  position: relative;
  flex: 1;
  height: var(--card-height);
  align-content: center;
}

.name {
  flex: 1;
  padding: 5px;
  min-height: 5rem;
}

.nameInput {
  margin-bottom: 1em;
  margin-left: 2em;
}

.renameButton {
  display: flex;
  gap: 0.5rem;
  max-width: 70%;
  margin: 0;
  padding-left: calc(0.5rem + 30px);
}

.renameButton__icon {
  display: none;
}

.renameButton:hover {
  padding-left: 0;
}

.renameButton:hover .renameButton__icon {
  display: block;
}

.arrowContainer {
  position: relative;
  width: var(--player-arrow-width);
  height: calc(max(var(--player-arrow-height), var(--player-arrow-size) * 2));
  display: flex;
  align-items: center;
}

.arrow {
  background-color: var(--player-arrow-color);
  height: var(--player-arrow-height);
  width: 100%;
  z-index: 10;
  margin: auto;
}

.arrow.fromLeftToRight::after {
  content: ' ';
  position: absolute;
  right: calc(-1 * var(--player-arrow-size) + 0.1rem);
  top: calc(50% - var(--player-arrow-size));
  width: 0;
  height: 0;
  border-bottom: var(--player-arrow-size) solid transparent;
  border-top: var(--player-arrow-size) solid transparent;
  border-left: var(--player-arrow-size) solid var(--player-arrow-color);
}

.arrow.fromRightToLeft::before {
  content: ' ';
  position: absolute;
  left: calc(-1 * var(--player-arrow-size) + 0.1rem);
  top: calc(50% - var(--player-arrow-size));
  width: 0;
  height: 0;
  border-bottom: var(--player-arrow-size) solid transparent;
  border-top: var(--player-arrow-size) solid transparent;
  border-right: var(--player-arrow-size) solid var(--player-arrow-color);
}

.actionMenu {
  height: 2rem;
  margin-top: 0 !important;
}

.hand {
  flex: 3;
  align-items: end;
}

.addCard {
  height: calc(var(--card-height));
  width: var(--card-width);
  margin-top: calc(-1 * var(--clue-overlap));
}
