.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.innerContainer {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
}

.clue {
  position: absolute;
  top: -2rem;
  left: calc(50% - 1rem / 2);
  height: 2.5rem;
  width: 1rem;
}
