.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.innerContainer {
    position: relative;
    height: calc(100%);
    width: 100%;
    justify-content: space-between;
    padding-top: 1.4rem;
}

.knownValue {
    line-height: 1.2rem;
}

.knownValue .value {
    font-size: 1.2rem;
    font-weight: bold;
}

.realDataContainer {
    display: flex;
    justify-content: center;
    width: calc(100% - 0.2rem);
    margin: 0.1rem;
}

.realValue {
    min-height: 1.2rem;
}

.clue {
    position: absolute;
    top: -2rem;
    left: calc(50% - 1rem / 2);
    height: 2.5rem;
    width: 1rem;
}
