.container {
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 9999;
}

.container.floating {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.container.opposite {
  top: calc(50% - 1rem);
  bottom: initial;
  right: initial;
  left: calc(100% + 0.5rem);
}

.container.outside {
  bottom: calc(-2rem - 3px);
  right: initial;
  overflow: initial;
}

.container.outside.opposite {
  top: calc(-2rem - 3px);
}

.container.vertical {
  bottom: 0;
  left: 0;
  top: 0;
  right: initial;
}

.container.vertical.opposite {
  left: initial;
}

.container.vertical.outside {
  top: 0;
  left: calc(-2rem - 3px);
  bottom: initial;
  right: initial;
  overflow: initial;
}

.container.vertical.outside.opposite {
  right: calc(-2rem - 3px);
  left: initial;
}

.opened {
  height: auto;
}

.closed {
  height: 0;
}
