.container {
  position: relative;
}

.label {
  margin: 0.5rem 0 0;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  flex: 1;
}

.list {
  flex: 6;
}

.color {
  height: 2rem;
  width: 2rem;
  min-width: initial !important;
  padding: 0 !important;
}

.color:focus,
.color.selected {
  border: 3px solid orange;
}

.color-white {
  border-color: black;
}
