.container {
  position: absolute;
  top: 0;
  z-index: 99999;
  padding: 1.5rem;
}

.container.right {
  left: 4.5rem;
}

.container.left {
  right: 4.5rem;
}

.container .closeButton {
  position: absolute;
  top: 0;
  right: 0;
}
