.container {
  position: relative;
  height: calc(var(--card-height));
  width: var(--card-width);
}

.container.small {
  height: calc(var(--card-height-small));
  width: var(--card-width-small);
}

.canHaveClue {
  margin-top: calc(var(--clue-height) - var(--clue-overlap) + var(--clue-arrow-size)) !important;
}
