.innerContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.clue {
  position: absolute;
  z-index: 9;
  top: calc(-1 * (var(--clue-height) - var(--clue-overlap) + var(--clue-arrow-size)));
  left: calc(50% - var(--clue-content-diameter) / 2);
  /* Le bout de la flèche n'est pas compté dans cette hauteur,
    car nécessairement hors de ce conteneur */
  height: calc(var(--clue-height));
  width: calc(max(var(--clue-arrow-size), var(--clue-content-diameter)));
}

.clue1 {
  left: 0.2rem;
}

.clue2 {
  left: initial;
  right: 0.2rem;
}
