:root {
  --card-height: 5rem;
  --card-width: 4rem;
  --card-height-small: calc(var(--card-height) / 2);
  --card-width-small: calc(var(--card-width) / 2);
  --clue-height: calc(var(--card-height) / 2);
  --clue-width: calc(var(--card-width) / 2);
  --clue-content-diameter: 1.6rem;
  --clue-arrow-size: 0.6rem;
  --clue-overlap: 1.2rem;
  --player-arrow-width: 3.8rem;
  --player-arrow-height: 8px;
  --player-arrow-size: 0.6rem;
  --player-arrow-color: #777;
}

.gameCard {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** ------- Colors ------- */

.card {
  background-color: #aaa;
}

.color-undefined {
  background-color: #aaa !important;
}

.color-blue {
  color: #fff !important;
  background-color: rgb(18, 172, 234) !important;
}

.color-red {
  color: #fff !important;
  background-color: rgb(237, 0, 55) !important;
}

.color-green {
  color: #fff !important;
  background-color: rgb(56, 174, 120) !important;
}

.color-yellow {
  background-color: rgb(254, 234, 101) !important;
}

.color-white {
  background-color: rgb(255, 255, 255) !important;
}

.color-multicolor {
  color: #fff !important;
  background:
    linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%) #ffffff;
}

.color-black {
  color: #fff !important;
  background-color: rgb(0, 0, 0) !important;
}

.color-purple {
  color: #fff !important;
  background-color: purple !important;
}

.color-rainbow {
  color: #fff !important;
  background: conic-gradient(from 90deg, violet, indigo, blue, green, yellow, orange, red, violet);
}

.color-teal {
  color: #fff !important;
  background-color: teal !important;
}

.color-pink {
  background-color: #ff69b4 !important;
}

.color-brown {
  color: #fff !important;
  background-color: #654321 !important;
}

.color-gray {
  color: #fff !important;
  background-color: gray !important;
}

.color-null {
  background-color: #aaa !important;
}

.color-lightpink {
  background-color: lightpink !important;
}
