.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.arrow {
  background-color: #444444;
  height: 100%;
  width: var(--clue-arrow-size);
  z-index: 10;
  margin: auto;
  box-shadow: 0 5px 10px 5px #ffffff;
}

.arrow::before {
  content: ' ';
  position: absolute;
  top: -0.2rem;
  left: -0.1rem;
  width: 1rem;
  height: 1rem;
  font-size: 0.6rem;
}

.arrow::after {
  content: ' ';
  position: absolute;
  bottom: calc(-1 * var(--clue-arrow-size) + 0.1rem);
  left: calc(50% - var(--clue-arrow-size));
  width: 0;
  height: 0;
  border-left: var(--clue-arrow-size) solid transparent;
  border-right: var(--clue-arrow-size) solid transparent;
  border-top: var(--clue-arrow-size) solid #444444;
}

.clueContent {
  position: absolute;
  top: calc(50% - var(--clue-content-diameter) / 2);
  left: calc(50% - var(--clue-content-diameter) / 2);
  height: var(--clue-content-diameter);
  width: var(--clue-content-diameter);
  z-index: 100;
  border: 2px solid #000000;
  border-radius: 50%;
  text-align: center;
  background-color: #ffffff;
}

.clueContent.clueValue {
  color: #000000;
}
