.container {
  position: relative;
}

.list {
  flex: 6;
}

.color {
  height: 2rem;
  width: 2rem;
  min-width: initial !important;
  padding: 0 !important;
  border: 1px solid transparent;
}

.color-white {
  border-color: black;
}
